<%- include("partials/header.ejs") %>

<form method="post" class="form-container">
    <input type="text" placeholder="Title" maxlength="50" name="title">
    <textarea placeholder="What's on your mind?" name="main" required></textarea>
    <input type="submit" value="Submit" class="secondary-btn">
</form>

<%- include("partials/footer.ejs") %>